html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  font-family: Lora, sans-serif;
  line-height: 1.7;
  color: #f8f8f8;
  background-color: #020202;
}

@media (min-width: 65em) {
  body {
    font-size: 107.5%;
  }
}

@media (min-width: 54em) {
  body {
    font-size: 105%;
  }
}

@media (min-width: 32em) {
  body {
    font-size: 102.5%;
  }
}

@media (min-width: 54em) {
  .section-padding {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media (min-width: 32em) {
  .section-padding {
    padding: 3em 2em;
  }
}
.section-padding {
  padding: 2em 1em;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #111;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

figure {
  margin: 2rem 0;
}

sup {
  vertical-align: super;
  font-size: 0.7em;
}

h2 {
  display: block;
  font-family: Lora, serif;
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: .01em;
  text-align: center;
}

h3 {
  font-family: Lora, serif;
  text-align: center;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  font-weight: 300;
  text-align: center;
}

main {
  min-height: 100vh;
  display: block;
  position: relative;
  margin-top: 3em;
  z-index: 1;
  background: #020202;
}

section {
  position: relative;
}

div {
  display: block;
  text-align: center;
}

footer {
  font-family: Roboto, sans-serif;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f8f8f8;
  background-color: #111;
  border-top: 1px solid rgba(255, 255, 255, .1);
  text-align: center;
  opacity: 1;
  transition: opacity .6s ease-in-out;
  padding: .5em .5em;
}

figcaption {
  font-size: .9em;
  color: #aaa;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: .5em;
  margin-bottom: 1.5rem;
  font-size: 1.25em;
}

img {
  max-width: 100%;
  height: auto;
}

cite:before {
  content: "\2014 \0020";
}

cite {
  display: block;
  margin-top: 1em;
  font-family: Roboto, sans-serif;
  font-size: .6em;
  font-style: normal;
  color: #fff;
  line-height: 1.7;
  content: "\2014 \0020";
}

.footnotes {
  padding: 3em 2em;
}



.grid {
    width: 100%;
    max-width: 45em;
}
.grid, .grid-large, .grid-small, .grid-xlarge, .subscribe__container {
    margin-right: auto;
    margin-left: auto;
}
#markdown blockquote {
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
}

#markdown p {
  margin-bottom: 1.5rem;
  font-family: Lora, serif;
}

#markdown figure, #markdown img {
  text-align: center;
}

.grid-small {
  width: 50%;
  max-width: 38em;
  margin-right: auto;
  margin-left: auto;
  /* text-align: center;*/
}

a {
  color: #1da1f2;
  text-decoration: none;
}

[data-columns]::before {
  display: block;
  visibility: hidden;
  position: absolute;
  font-size: 1px;
}

.post__header blockquote {
  margin-top: 2em;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  color: #bbb;
  font-style: italic;
  font-size: 100%;
}

.bitcoin img, .header img {
  margin-top: .5em;
  height: 2.5em;
  border-radius: 50%;
}

.grid-small {
  width: 50%;
  max-width: 38em;
}

.lesson__navigation img {
  height: 1em;
  margin-right: -1em;
}

.lesson__navigation {
  justify-content: space-between;
  display: flex;
  vertical-align: bottom;
  margin: 3em 0;
}

.lesson__navigation li:last-child a:after {
  content: " →";
}

.lesson__navigation li:first-child a:before {
  content: "← ";
}

.bitcoin__list, .books, .footer__social, .footer__tags, .header__list, .lesson__navigation, .post__social, .resources__navigation {
  list-style-type: none;
}

.books, .lesson__navigation, .lesson__navigation li, .resources__navigation {
    margin: 0;
    padding: 0;
}

code, pre {
  color: #aaa;
  background: #111;
  word-wrap: breaks;
  overflow-wrap: anywhere;
}

code, kbd, pre, samp {
  font-family: Courier, monospace;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em .75em;
  line-height: 1.8;
  white-space: pre-wrap;
  border-radius: 5px;
  overflow: hidden;
}
